body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: var(--SLATE, #434455);
    font-style: normal;
}

ul {
        list-style-type: none;
}

a {
        text-decoration: none;
        color: currentColor;
        font-style: normal;
}

h2 {
        color: var(--NAVY-BLUE, #2E2F42);
            font-size: 36px;
            text-align: center;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}



.logo-1 {
font-family: "Raleway", sans-serif;
color: var(--IRIS, #4D5AE5);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo-2 {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logo-2-1 {
    color: var(--CLOUD, #F4F4FD);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.main-navigation-1 {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.main-navigation-2 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.main-navigation-3 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}


.address-1 {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.address-2 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* section-1-main */

.section-1 {
    background: var(--NAVY-BLUE, #2E2F42);
}

h1 {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
}

.only-one-button-on-the-page {
    border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.only-one-button-on-the-page span {
    color: var(--WHITE, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
}

/* section-2-features */

.section-2 {
    background: #FFF;
}


.feature-description-1 {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.feature-description-2 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.feature-description-3 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.feature-description-4 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}


/* section-3-team */

.section-3 {
    background: var(--CLOUD, #F4F4FD);
}


.team-img-1 {
    width: 264px;
    height: 260px;
}

.team-img-2 {
    width: 264px;
    height: 260px;
}

.team-img-3 {
    width: 264px;
    height: 260px;
}

.team-img-4 {
    width: 264px;
    height: 260px;
}

.team-member-1 {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        
}

.team-member-2 {
    text-align: center;
}

.team-member-3 {
    text-align: center;
}

.team-member-4 {
    text-align: center;
}

.team-member-position-1 {
    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.team-member-position-2 {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-member-position-3 {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-member-position-4 {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}


/* section-4-portfolio */

.section-4 {
    background: #FFF;
}


.portfolio-desription-1 {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.portfolio-desription-2 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-desription-3 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-desription-4 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-desription-5 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-desription-6 {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-img-1 {
    width: 360px;
        height: 300px;
        flex-shrink: 0;
}

.portfolio-img-2 {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}
.portfolio-img-3 {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}
.portfolio-img-4 {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}
.portfolio-img-5 {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}
.portfolio-img-6 {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}

/* footer */

footer {
    background: var(--NAVY-BLUE, #2E2F42);
}

.footer-description {
    color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}